<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="KNIME 2.12 TP" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
<unit id="org.knime.features.base.feature.group" version="0.0.0"/>
<repository location="http://www.knime.org/update/2.12"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.codehaus.groovy23.feature.feature.group" version="2.9.1.xx-201411061404-e37-RELEASE"/>
<repository location="http://dist.springsource.org/release/GRECLIPSE/e3.7/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150601-0402"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.knime.features.ext.svg.feature.group" version="2.12.0.0047737"/>
<unit id="org.knime.features.quickform.feature.group" version="2.12.0.0047514"/>
<unit id="org.knime.features.ext.osm.feature.group" version="2.12.0.0047514"/>
<unit id="org.knime.features.xml.feature.group" version="2.12.0.0047898"/>
<unit id="org.knime.features.testingapplication.feature.group" version="2.12.0.0047985"/>
<unit id="org.knime.features.js.feature.group" version="2.12.1.0048790"/>
<unit id="org.knime.features.ext.jep.feature.group" version="2.12.0.0047514"/>
<unit id="org.knime.features.ext.poi.feature.group" version="2.12.0.0048059"/>
<unit id="org.knime.features.ext.jfreechart.feature.group" version="2.12.0.0047514"/>
<repository location="http://www.knime.org/update/2.12"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.bund.bfr.knime.esri.feature.feature.group" version="1.2.0.201508031047"/>
<repository location="http://tech.knime.org/update/community-contributions/trusted/2.12"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
<launcherArgs>
<vmArgs>-Xmx768m
-XX:MaxPermSize=256m
-server
-Dsun.java2d.d3d=false
-Dosgi.classloader.lock=classname
-XX:+UnlockDiagnosticVMOptions
-XX:+UnsyncloadClass 
-Dknime.enable.fastload=true
-ea
-Dorg.eclipse.swt.internal.gtk.cairoGraphics=false
-Dorg.eclipse.swt.internal.gtk.useCairo=false
-Dorg.eclipse.swt.browser.IEVersion=10001</vmArgs>
</launcherArgs>
</target>
