<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="KNIME 3.3 TP aaw" sequenceNumber="25">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.knime.features.ext.textprocessing.feature.group" version="3.3.2.v201704041632"/>
<repository location="http://update.knime.org/analytics-platform/3.3/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ws.palladian.nodes.feature.feature.group" version="1.6.100.v201703011000"/>
<repository location="http://tech.knime.org/update/community-contributions/trusted/3.3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.knime.features.js.views.feature.group" version="3.3.2.v201703230956"/>
<unit id="org.knime.product.desktop" version="3.3.2.v201704061137"/>
<unit id="org.knime.features.ext.jfreechart.feature.group" version="3.3.0.v201611252100"/>
<unit id="com.knime.features.reporting.designer.feature.group" version="3.3.0.v201611161455"/>
<unit id="org.knime.features.base.filehandling.feature.group" version="3.3.2.v201703312034"/>
<unit id="org.knime.features.ext.svg.feature.group" version="3.3.0.v201611141533"/>
<unit id="org.knime.features.network.feature.group" version="3.3.0.v201608101435"/>
<unit id="org.knime.features.quickform.legacy.feature.group" version="3.3.0.v201607181158"/>
<unit id="com.knime.features.explorer.serverspace.feature.group" version="4.4.1.v201703230956"/>
<unit id="org.knime.features.testingapplication.feature.group" version="3.3.2.v201703230956"/>
<unit id="org.knime.features.ext.osm.feature.group" version="3.3.0.v201607181158"/>
<unit id="org.knime.features.rest.feature.group" version="3.3.2.v201703230956"/>
<repository location="http://update.knime.org/analytics-platform/3.3/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
<vmArgs>-Xmx2048m&#13;
-server&#13;
-Dsun.java2d.d3d=false&#13;
-Dosgi.classloader.lock=classname&#13;
-XX:+UnlockDiagnosticVMOptions&#13;
-XX:+UnsyncloadClass &#13;
-Dknime.enable.fastload=true&#13;
-ea&#13;
-Dorg.eclipse.swt.internal.gtk.cairoGraphics=false&#13;
-Dorg.eclipse.swt.internal.gtk.useCairo=false&#13;
-Dorg.eclipse.swt.browser.IEVersion=10001</vmArgs>
</launcherArgs>
</target>
