<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/foodchain"
            factory-class="de.bund.bfr.knime.openkrise.MyKrisenInterfacesNodeFactory"
            id="de.bund.bfr.knime.openkrise.MyKrisenInterfacesNodeFactory"/>
      <node
            category-path="/foodchain"
            factory-class="de.bund.bfr.knime.openkrise.clustering.DBSCANNodeFactory"
            id="de.bund.bfr.knime.openkrise.clustering.DBSCANNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/foodchain.png"
            level-id="foodchain"
            name="FoodChain-Lab"
            path="/">
      </category>
   </extension>
   
</plugin>
