<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

	<extension point="org.knime.workbench.repository.categories">
		<category icon="icons/FoodChainLab.png" level-id="foodchain" name="FoodChain-Lab" path="/"/>
	</extension>

	<extension point="org.knime.workbench.repository.nodes">
		<node category-path="/foodchain" factory-class="de.bund.bfr.knime.openkrise.MyKrisenInterfacesNodeFactory"/>  		
	<node category-path="/foodchain" factory-class="de.bund.bfr.knime.openkrise.FCL_DB_WriterNodeFactory" id="de.bund.bfr.knime.openkrise.FCL_DB_WriterNodeFactory"/>
</extension>

</plugin>
