<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="index.html"><i class="material-icons md-18">home</i> {{ site.data.topnav.title }}</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-left">
                {% for item in site.data.topnav.items %}
                <li {% if page.folder == item.folder %}class="active"{% endif %}>
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
