<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.preferencePages">
		<page category="org.knime.workbench.ui.preferences" class="de.bund.bfr.knime.gis.geocode.GeocodingPreferencePage"
			id="de.bund.bfr.knime.gis.geocode.GeocodingPreferencePage" name="Geocoding" />
	</extension>
 <extension
       point="org.knime.core.DataType">
    <DataType
          cellClass="de.bund.bfr.knime.gis.shapecell.ShapeBlobCell"
          factoryClass="de.bund.bfr.knime.gis.shapecell.ShapeCellFactory">
       <serializer
             cellClass="de.bund.bfr.knime.gis.shapecell.ShapeBlobCell"
             serializerClass="de.bund.bfr.knime.gis.shapecell.ShapeBlobSerializer">
       </serializer>
    </DataType>
 </extension>

</plugin>
