<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

	<extension point="org.knime.workbench.repository.categories">
		<category icon="icons/nls.png" level-id="nls" name="Nonlinear Regression" path="/"/>
	</extension>

	<extension point="org.knime.workbench.repository.nodes">
		<node category-path="/nls" factory-class="de.bund.bfr.knime.nls.creator.FunctionCreatorNodeFactory"/>
		<node category-path="/nls" factory-class="de.bund.bfr.knime.nls.fitting.FunctionFittingNodeFactory"/>
		<node category-path="/nls" factory-class="de.bund.bfr.knime.nls.view.FunctionViewNodeFactory"/>
		<node category-path="/nls" factory-class="de.bund.bfr.knime.nls.creator.DiffFunctionCreatorNodeFactory"/>
		<node category-path="/nls" factory-class="de.bund.bfr.knime.nls.fitting.DiffFunctionFittingNodeFactory"/>
		<node category-path="/nls" factory-class="de.bund.bfr.knime.nls.view.DiffFunctionViewNodeFactory"/>
		<node category-path="/nls" factory-class="de.bund.bfr.knime.nls.fitting.InteractiveFunctionFittingNodeFactory"/>
		<node category-path="/nls" factory-class="de.bund.bfr.knime.nls.fitting.InteractiveDiffFunctionFittingNodeFactory"/>
		<node category-path="/nls" factory-class="de.bund.bfr.knime.nls.view.FunctionPredictorNodeFactory"/>
		<node category-path="/nls" factory-class="de.bund.bfr.knime.nls.view.DiffFunctionPredictorNodeFactory"/>
	</extension>
	
	<extension point="org.knime.core.PortType">
    	<portType hidden="false" name="Function Port" objectClass="de.bund.bfr.knime.nls.functionport.FunctionPortObject" objectSerializer="de.bund.bfr.knime.nls.functionport.FunctionPortObjectSerializer" specClass="de.bund.bfr.knime.nls.functionport.FunctionPortObjectSpec" specSerializer="de.bund.bfr.knime.nls.functionport.FunctionPortObjectSpecSerializer"/>
 	</extension>

</plugin>
