<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.network.core.AnalyzerType">
      <NetworkAnalyzer
            AnalyzerType="de.bund.bfr.knime.network.analyzer.ClosenessAnalyzerType">
      </NetworkAnalyzer>
   </extension>

</plugin>
