<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.knime.workbench.repository.nodes">
		<node category-path="/foodchain" factory-class="de.bund.bfr.knime.openkrise.views.tracingview.TracingView2NodeFactory"
			id="de.bund.bfr.knime.openkrise.views.tracingview.TracingView2NodeFactory">
		</node>
	</extension>
</plugin>
