<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/foodchain" factory-class="de.bund.bfr.knime.openkrise.views.tracingview.TracingView2NodeFactory" id="de.bund.bfr.knime.openkrise.views.tracingview.TracingView2NodeFactory">
      </node>
   <node category-path="/foodchain" factory-class="de.bund.bfr.knime.openkrise.views.gisview.GisViewNodeFactory" id="de.bund.bfr.knime.openkrise.views.gisview.GisViewNodeFactory"/>
<node category-path="/foodchain" factory-class="de.bund.bfr.knime.openkrise.views.gisgraphview.GisGraphViewNodeFactory" id="de.bund.bfr.knime.openkrise.views.gisgraphview.GisGraphViewNodeFactory"/>
</extension>
   
</plugin>
